body {
    color: black;
    background-color: black;
    font-family: sans-serif;
}

#group_ownership_div {
    color: black;
    background-color: #e8e8e8;
    width: 180px;
    padding: 20px;
    margin: 0px;
}

/*#group_ownership_button {
    margin: 10px;
    margin-left: 20px;
    color: black;
    background-color: white;
    width: 50px;
    border: solid 1px black;
    padding: 5px;
}*/

#success {
    color: black;
}

.changing_panel {
    color: black;
    background-color: #e8e8e8;
    width: 180px;
    padding: 20px;
    margin: 0px;
}

.button {
    margin: 10px;
    margin-left: 20px;
    color: black;
    background-color: white;
    width: 50px;
    border: solid 1px black;
    padding: 5px;
}

.button:hover {
    color: white;
    background-color: black;
    border: solid 1px white;
}

#waiting {
    color: #181818;
}
